<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/49erslogo.png" height="60" title="49ers" alt=""></td>
        <td><a href="{{site.baseurl}}/lesson31/">Lesson 3.1</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/9}}">Lesson 3.2 (1)</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/10}}">Lesson 3.2 (2)</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/11}}">Lesson 3.3 (1)</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/12}}">Lesson 3.3 (2)</a></td>
        <td><a href="{{https://nighthawkcoders.github.io/portfolio_2025/csp/big-idea/p2/3-4}}">Lesson 3.4 </a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/11}}">Lesson 3.5 (1)</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/12}}">Lesson 3.5 (2)</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/13}}">Lesson 3.6 (1)</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/14}}">Lesson 3.6 (2)</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/13}}">Lesson 3.7 (1)</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/14}}">Lesson 3.7 (2)</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/8}}">Lesson 3.8</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/7}}">Lesson 3.10 (1)</a></td>
        <td><a href="{{https://github.com/Akshaj-G/Akshaj_2025/issues/5}}">Lesson 3.10 (2)</a></td>
    </tr>
</table>